@import "fonts/stylesheet.css";

html, body {
	margin: 0;
	padding: 0;
}

#recipiente{
	position: absolute;
	background: linear-gradient(#f8f1b2,#4599b2);
	width:800px;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 24px;
}

#cabecalho{
	width:646px;
	padding-left:154px;
}

#cabecalho h1{
	font-family:'Ravie', cursive;
	font-size:36px;
	color:#e90c0c;
	margin:0;
}

#cabecalho h2{
	font-family:'Trebuchet MS', cursive;
	font-size:24px;
	color:#333;
	margin:0;
	padding-left: 180px;
}

mark{
	color:#d027aa;
	background-color: rgba(0,0,0,0);
}


#lateral{
	float:left;
	position: absolute;
	left: 0px;
	top: 0px;
	width:154px;
	height:100%;
}

#lateral h2{
	position:absolute;
	transform-origin: 0% 50%;
	transform: rotate(-90deg);
	left:50%;
	top:50%;
	font-family:'Verdana', cursive;
	font-size:48px;
	color:#333;
	font-weight:bold;
	margin:0;
}

#imagem_siri{
	position:relative;
	left:-10px;
	top:7px;
}

#imagem_bolhas{
	position:absolute;
	right:20px;
	bottom:125px;
}

#imagem_peixe{
	position:absolute;
	bottom:0px;
	left:-44px;
}

#cardapio{
	box-sizing: padding-box;
	margin-left:154px;
	padding-left:20px;
	border:solid 1px #aac0ae;
	font-family:'Verdana', cursive;
	font-size:14px;
	color:#333;
	background-color: rgba(255,255,255,0.2);
	width:644px;
	line-height:30px;
	white-space:pre-line;
}

#cardapio h3{
	font-family:'Verdana', cursive;
	font-size:18px;
	color:#333;
	font-weight:bold;
	margin-bottom:0;
	
}

#rodape{
	height:120px;
}


#rodape img{
	position: absolute;
	right:0;
	padding-top: 46px;
	padding-bottom: 25px;
	padding-right: 15px;
}

#ticket img{
	position:fixed;
	top:295px;
	left:-69px;
	transition-property: left;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

#ticket img:hover{
	left:0px;

}
